<!DOCTYPE html>
<html>
  <head>
    <title>AlphaBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%=  render 'layouts/navigation' %>
    <%=  render 'layouts/messages' %>
    <%= yield %>
  </body>

  <footer class="footer">
    <div class="container">
    <div class="copyright col-md-6">
  Copyright © 2020 - All rights reserved.</div>
    </div>
  </footer>
  
</html>
